
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.kilocode/
logs/
*.log
.env
dist/
build/
.DS_Store
.roo/
tests/
.kilocodemodes
.vscode/
Thumbs.db


#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
