[submodule "server"]
	path = server
	url = https://github.com/Qiiks/Overwatch-Account-Share-Backend.git
[submodule "client/v0-credential-otp-sharing"]
	path = client/v0-credential-otp-sharing
	url = https://github.com/Qiiks/v0-credential-otp-sharing.git
